---
import Container from '../components/Container.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="contact us">
  <Container class="h-[calc(100vh-464px)]">
    <h1 class="text-grey-500 uppercase">Building...</h1>
  </Container>
</Layout>
