---
import c from 'clsx'
export interface Props {
  title: string
  body: string
  href: string
  styles?: string
  backgroundURL?: string
}

const {href, title, body, styles, backgroundURL} = Astro.props
---

<li
  style={{
    backgroundImage: `url('${backgroundURL}')`,
  }}
  class={c(
    'relative rounded-xl w-full list-none h-[250px]',
    `after:block after:w-full after:rounded-xl after:h-full after:absolute after:transition-colors after:hover:bg-peach-100 after:top-0 after:left-0 after:bg-gray-900 after:opacity-50`,
    'tablet:h-[200px]',
    styles || 'desktop:h-[308px]',
  )}
>
  <a
    href={href}
    class={c(
      'relative z-20 w-full h-full px-[30px] flex flex-col justify-center items-center rounded-xl ',
    )}
  >
    <h2 class={c('text-white-100 uppercase text-1lg text-center mb-[12px]')}>
      {title}
    </h2>
    <p class={c('text-sm text-white-100 text-center')}>
      {body}
      <span class="text-peach-500">&rsaquo;</span>
    </p>
  </a>
</li>
