---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

export interface Props {
  title: string
}

const {title} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content="Astro Page Example" />
    <meta name="description" content="" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://designo-astro-dr.netlify.app/" />
    <meta property="og:title" content="Astro Page Example" />
    <meta property="og:description" content="" />
    <meta
      property="og:image"
      content="https://user-images.githubusercontent.com/21252506/211877073-a2781990-eaf9-4078-84cf-3c1491e0c90c.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://designo-astro-dr.netlify.app/"
    />
    <meta property="twitter:title" content="Astro Page Example" />
    <meta property="twitter:description" content="" />
    <meta
      property="twitter:image"
      content="https://user-images.githubusercontent.com/21252506/211877073-a2781990-eaf9-4078-84cf-3c1491e0c90c.png"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="">
    <Header />
    <main class="border-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>
